<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>くりぬき文字</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        <img src="/public/title.png" alt="title" title="title">
      </h1>
    </header>

    <main>
      <p class="bold">文字や文章を、背景画像にくりぬき描画したものを作成します。<br>最大10文字までです。</p>
      <p></p>
      <textarea id="kurinukimoji" cols="50" maxlength="10" rows="1">test</textarea>
      <p>背景画像を選択してください。</p>
      <form>
      
        <div id="sizeSelectita">
      <input type="radio" name="ita" value="ita1" id="sizeSelectita1" onchange="func1()" checked><label for="sizeSelectita1"></label>
      <input type="radio" name="ita" value="ita2" id="sizeSelectita2" onchange="func1()"><label for="sizeSelectita2"></label>
      <input type="radio" name="ita" value="ita3" id="sizeSelectita3" onchange="func1()"><label for="sizeSelectita3"></label>
      <input type="radio" name="ita" value="ita4" id="sizeSelectita4" onchange="func1()"><label for="sizeSelectita4"></label>
    </div>
    </form>

      <p>表示サンプル</p>
      <canvas id="canvas"></canvas>
      <!-- <form> -->
        <!-- <input type="text" maxlength="10" placeholder="Dreams!"> -->
        <button id="btn">PINGで保存</button>
        <!-- <a onclick="downloadImg();" id="download" class="btn btn-primary">画像ダウンロード</a> -->
     
      <!-- </form> -->
      <!-- <section class="dreams">
        <ul id="dreams">
        </ul>
      </section> -->
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script defer src="/public/client.js"></script>

  </body>
</html>
